{#参考链接：https://dormousehole.readthedocs.io/en/latest/tutorial/templates.html#}
<!DOCTYPE html>
<title>{% block title %}{% endblock %} -Flaskr </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Flaskr</h1>
  <ul>
    {% if users %}
        {% for user in users %}
            <li><span>用户名：{{ user.username }}；密码：{{ user.password }}</span>
{#            <li><span></span>#}
{#            <li><a href="{{ url_for('user.logout') }}">Log Out</a>#}
        {% endfor %}
    {% endif %}
  <li><a href="{{ url_for('user.register') }}">Register</a>
  <li><a href="{{ url_for('user.login') }}">Log In</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>